body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#header {
    background: url('image/kebab-maxi.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*filter: blur(2px); */
    color: white;
    text-align: center;
    padding: 20px;
    
}

#navigation {
    background-color: #dbd7d7;
    color: white;
    text-align: center;
    padding: 10px;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    font-size: 0;
    top: 56px;
    z-index: 2;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: none;
}

#navigation a {
    display: inline-block;
    width: auto;
    margin: 0!important;
    padding: 5px 15px 5px 15px !important;
    font-size: 15px!important;
    text-decoration: none;
    line-height: 1.5;
}

#contenu-wrapper {
    display: flex;
    min-height: 90vh;
}

#index-contenu {
    width: 20%;
    background-color: #f2f2f2;
    padding: 20px;
}

#contenu {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #contenu-wrapper {
        flex-direction: column;
    }

    #index-contenu,
    #contenu {
        width: 100%;
    }
}