*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: url('image/kebab-maxi.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*filter: blur(2px); */
    color: white;
    text-align: center;
    padding: 20px;
}

/* NAV BAR HORIZONTALE */
nav {
    background-color: #0609a1db;
    height: 50px;
    width: 100%;
    overflow: auto;
}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    letter-spacing: 1px;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
nav ul li a.active, nav ul li a:hover{
    background: #1b9bff;
    transition: .5s;
}

/* BODY */
#contenu-wrapper {
    display: flex;
    min-height: 90vh;
}

/* NAV BAR VERTICALE */
#index-contenu {
    width: 20%;
    background-color: #6b8fdc;
    padding: 20px;
    color: white;
}

#index-contenu h2{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
}

#index-contenu ul li{
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}
#index-contenu ul li a{
    color: white;
    padding: 5px 3px;
    border-radius: 3px;
}
#index-contenu ul li a:hover{
    background: #14181b;
    transition: .5s;
}


#contenu {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;

}


/*  */
@media screen and (max-width: 768px) {
    #contenu-wrapper {
        flex-direction: column;
    }

    #index-contenu,
    #contenu {
        width: 100%;
    }
}