*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: url('image/img_header.jpg') no-repeat center top; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 40px;
    
}

header h1 {
    font-size: 50px;
    font-weight: bold;
}
header ul {
    font-size: 18px;
    font-style: italic;
    list-style-type: none;
    
    
}
header ul li {
    display: inline;
    padding: 20px;
}



/* NAV BAR HORIZONTALE */
nav {
    background-color: #705b0378;
    height: 50px;
    width: 100%;
    overflow: auto;
}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
nav ul li a.active, nav ul li a:hover{
    background: #806704ac;
    transition: .5s;
}

/* BODY */
#contenu-wrapper {
    display: flex;
    min-height: 90vh;
}

/* NAV BAR VERTICALE */
#index-contenu {
    width: 20%;
    background-color: #806704ac;
    padding: 20px;
    color: white;
}

#index-contenu h2{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 25px;
        
}

#index-contenu ul li{
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}
#index-contenu ul li a{
    color: white;
    padding: 5px 3px;
    border-radius: 3px;
    font-size: 17px;
}
#index-contenu ul li a:hover{
    background: #705b0378;
    transition: .5s;
}

/* Contenu */
#contenu {
    background: #f6f5f5;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

#contenu h2 {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

#contenu p {
    font-size: 17px;
    
}


/* FOOTER */
footer {
    background-color: #333;
    color: white;
    
    padding: 10px;
}

.logo_UL {
    position:relative;
    width: 9%;
    left: 0;
}

.logo_polytech {
   position: relative;
    width: 9%;
    left: 2%;
}

.logo_mines {
    Position:relative;
    width: 3%;
    left: 4%;
}



/*  */
@media screen and (max-width: 768px) {
    #contenu-wrapper {
        flex-direction: column;
    }

    #index-contenu,
    #contenu {
        width: 100%;
    }
}

.image_screen {
    max-width : 80%;
    height : auto;
}

.image {
    max-width : 40%;
    height : auto;
}